div {
	background-color: rgb(247, 247, 247);
	width: auto;
	margin: auto;
}

span {

	color: #A24618;
}

body {

	font-family: sans-serif;
	margin: auto;
	width: auto;
}

.div1 {
	margin-left: 647px;
	margin-right: 641px;
}

.div2 {
		margin-left: 651px;
	margin-right: 654px;
}

.div3 {
		margin-left: 647px;
	margin-right: 643px;
}

.div4 {
		margin-left: 647px;
	margin-right: 642px;
}

.div5 {
		margin-left: 672px;
	margin-right: 643px;
}

hr {
	max-width: 600px;
}

img {
	margin-left: 840px;
}






